html{
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif !important;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

/*footer design and to be fixed*/
.footer{
    padding-top: 12% !important;
}
.footer-styles{
    background-color: rgb(121, 57, 57);
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer-box1{
    background-color: rgb(121, 57, 57);
    height: 1.5rem;
    border-bottom: #ffffff 1px solid;
    box-shadow:  -10px 0px 0px #ffffff;
}
.footer-box2{
    background-color: rgb(121, 57, 57);
    height: .5rem;
}  

